*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(191, 235, 247);
    text-align: center;  
    line-height: 2.1;
}

.hero img{
    border-radius: 50%;
}

.accent{
    color: rgb(0, 98, 255);
}

p{
    padding: 10px;
    margin: 10px;
}

@media screen (max-width: 768px)

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap:wrap;
}

.grid div {
    background-color: rgb(96, 162, 187);
    
    padding: 7px
    min-width: 80px;
}

div img {
  border-radius: 70%;
  rotate: 270deg;
}

#me {
    color: rgb(0, 98, 255);
}
* {
    font-weight: 300;
}