*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9cf97;
    text-align: center;  
    line-height: 2.1;
}

.hero img{
    border-radius: 50%;
}

.accent{
    color: #9c7a50;
}

p{
    justify-content: center;
    align-content: center;
}